@use '../../styles/typography' as typography;

.text-xl {
	@include typography.text-xl;
}

.text-lg {
	@include typography.text-lg;
}

.text-base {
	@include typography.text-base;
}

.text-sm {
	@include typography.text-sm;
}

.text-xs {
	@include typography.text-xs;
}

.weight-300 {
	font-weight: 300;
}

.weight-500 {
	font-weight: 500;
}

.weight-600 {
	font-weight: 600;
}

.weight-700 {
	font-weight: 700;
}