@use "../../styles/variables" as variables;
@use "../../styles/mixins" as mixins;
@use "../../styles/typography" as typography;

.mobile-navigation {
	display: flex;
	flex-direction: column;
	padding-top: var(--space-sm);

	.slider-section {
		display: flex;
		justify-content: space-between;
		border-bottom: .1rem solid var(--color-border);
		padding-block: var(--space-xl);
		padding-inline: var(--content-spacing);
	}

	.slider-button {
		@include typography.text-base;
		color: var(--color-text-muted);
		background-color: white;
		border: none;
		cursor: pointer;

		&:hover {
			color: var(--color-primary);
		}

		&:focus-visible {
			color: var(--color-primary);
			outline: .2rem solid var(--color-primary);
			border-radius: variables.$radius-sm;
		}

		.slider-button-label {
			padding: .2rem .4rem;
		}
	}

	.active {
		color: var(--color-primary);
	}

	.date-section {
		display: flex;
		justify-content: space-between;
		padding-block: var(--space-xl);
		padding-inline: var(--content-spacing);
		border-bottom: .1rem solid var(--color-border);
	}

	.icon-button {
		color: var(--color-text-muted);
		background-color: white;
		border: none;
		cursor: pointer;
		width: 24px;
		height: 24px;
		border-radius: variables.$radius-rounded;

		&:hover {
			color: var(--color-primary);
		}

		&:focus-visible {
			color: var(--color-primary);
			outline: .2rem solid var(--color-primary);
			outline-offset: .4rem;
		}
	}

	.calendar-section {
		display: flex;
		justify-content: space-between;
		padding: var(--space-md) var(--content-spacing);
		overflow-x: auto;
		gap: var(--space-md);
		border-bottom: 1px solid var(--color-border);
		scroll-snap-type: x mandatory;
		scroll-padding-inline: 50%;
	}

	.day-button {
		background-color: white;
		border: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 7rem;
		min-width: 8rem;
		width: 6rem;
		border-radius: variables.$radius-md;
		color: var(--color-text-muted);
		cursor: pointer;
		scroll-snap-align: center;

		&.active-day {
			background-color: var(--color-primary-light);
			color: var(--color-primary);

			.day-date {
				color: var(--color-primary);
			}
		}
	}

	.day-date {
		font-weight: 800;
		color: var(--color-text);
	}

}
