@use "../../styles/variables" as variables;

.weekly-slider {
	display: flex;
	justify-content: space-between;
}

.icon-button {
	color: var(--color-text-muted);
	background-color: white;
	border: none;
	cursor: pointer;
	width: 24px;
	height: 24px;
	border-radius: variables.$radius-rounded;

	&:hover {
		color: var(--color-primary);
	}

	&:focus-visible {
		color: var(--color-primary);
		outline: .2rem solid var(--color-primary);
		outline-offset: .4rem;
	}
}