@use "../../styles/mixins" as mixins;
@use "../../styles/typography" as typography;
@use "../../styles/variables" as variables;

.desktop-navigation {
	display: flex;
	align-items: center;
	border-bottom: .1rem solid var(--color-border);
	background-color: white;
	height: variables.$desktop-navi-height;

	.logo-section {
		padding: var(--space-lg);
		border-right: .1rem solid var(--color-border);
		max-width: 25rem;
		width: 30dvw;
	}

	.main-section {
		display: flex;
		gap: var(--space-md);
		padding: var(--space-lg);
	}

	.current-week {
		font-weight: 300;
		color: var(--color-text-muted);
	}
}