@use "../../styles/mixins" as mixins;
@use "../../styles/typography" as typography;
@use "../../styles/variables" as variables;


.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
	max-width: 40rem;
	width: 30dvw;
	border-right: .1rem solid var(--color-border);
	//overflow: hidden;

	.profile-section {
		display: flex;
		border-bottom: .1rem solid var(--color-border);
		padding: var(--space-lg);
		gap: var(--space-md);
	}

	.profile-button {
		height: 4.5rem;
		width: 4.5rem;
		border-radius: variables.$radius-rounded;
		border: none;
		cursor: pointer;

		&:focus-visible {
			outline: .2rem solid var(--color-primary);
			outline-offset: .2rem;
		}
	}

	.profile-image {
		height: 4.5rem;
		width: 4.5rem;
		object-fit: cover;
		border-radius: variables.$radius-rounded;
	}

	.profile-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width: 0;
		flex: 1;
	}

	.username {
		font-weight: 700;
	}

	.email {
		font-weight: 300;
		color: var(--color-text-muted);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.week-slider-section {
		padding: var(--space-lg);
		border-bottom: .1rem solid var(--color-border);

	}

	.current-week-indicator {
		display: flex;
		width: 100%;
		justify-content: center;
		margin-top: var(--space-md);
		background-color: var(--color-primary-light);
		padding: var(--space-sm);
		border-radius: variables.$radius-md;
		color: var(--color-primary);
	}

	.remember-section {
		position: sticky;
		top:0;
		padding-block: var(--space-lg);
		border-bottom: .1rem solid var(--color-border);
	}

	.remember-header {
		padding-inline: var(--space-lg);
		margin-bottom: var(--space-lg);
	}

	.remember-items {
		display: flex;
		flex-direction: column;
		gap: var(--space-sm);
		max-height: 50dvh;
		overflow-y: auto;
		margin: var(--space-lg) 0 var(--space-lg) var(--space-lg);
		padding-right: var(--space-lg);
	}

	.add-item {
		color: var(--color-primary);
		background-color: white;
		border: none;
		display: flex;
		cursor: pointer;
		gap: .4rem;
		justify-content: center;
		padding-right: .5rem;
		padding-block: .3rem;
		margin-inline: var(--space-lg);;

		&:focus-visible {
			border-radius: variables.$radius-sm;
			outline: .2rem solid var(--color-primary);
			outline-offset: .2rem;
		}
	}

	.settings-section {
		margin-top: auto;
		display: flex;
		flex-direction: column;
		gap: var(--space-sm);
		padding: var(--space-lg);
	}

	.settings-item {
		margin-top: auto;
		width: fit-content;
		display: flex;
		gap: var(--space-md);
		background-color: white;
		border: none;
		cursor: pointer;
		padding-block: .3rem;
		padding-inline: .5rem;
		color: var(--color-text-settings);

		&:hover {
			color: var(--color-text);
		}

		&:focus-visible {
			color: var(--color-text);;
			outline: .2rem solid var(--color-text);;
			border-radius: variables.$radius-sm;
		}
	}

	.settings-label {
		font-weight: 300;
	}

}