@use "../../styles/variables" as variables;
@use "../../styles/mixins" as mixins;

.add-task-button {
	@include mixins.background-shadow;
	position: fixed;
	right: 1.5rem;
	bottom: 1.5rem;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: variables.$radius-rounded;
	background-color: var(--color-primary);
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s ease, color 0.2s ease;

	&:hover, &:focus-visible {
		background-color: var(--color-primary-dark);
	}

	&:focus-visible {
		outline: 0.1rem solid var(--color-primary);
		outline-offset: 0.1rem;
	}
}

.overlay {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	inset: 0;
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	z-index: 999;
}

.title {
	color: var(--color-text);
	margin-bottom: var(--space-xs);
}

.content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	padding: 1.6rem;
	border-radius: 0 0 variables.$radius-lg variables.$radius-lg;
	z-index: 1000;
	animation-duration: 1000ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

	&[data-state="open"] {
		animation-name: slideUp;
	}

	&[data-state="closed"] {
		animation-name: slideDown;
	}

	&:focus {
		outline: none;
	}

	.Description {
		margin: 0.6rem 0 1.3rem;
		font-size: 0.9rem;
		color: #444;
		line-height: 1.5;
	}


	.fieldset {
		border: none;
		display: flex;
		gap: 1.3rem;
		align-items: center;
		margin-bottom: 0.9rem;
	}

	.button-group {
		display: flex;
		margin-top: var(--space-2xl);
		gap: var(--space-md);
	}
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes slideDown {
	from {
		transform: translateY(0%);
		opacity: 1;
	}
	to {
		transform: translateY(-100%);
		opacity: 0;
	}
}