@use "../../styles/variables" as variables;
@use "../../styles/mixins" as mixins;
@use "../../styles/typography" as typography;

.task-item {
	display: flex;
	padding-inline: var(--space-lg);
	padding-block: var(--space-xl);
	border-radius: variables.$radius-md;
	background: white;
	box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.05);
	justify-content: space-between;
	gap: var(--space-xl);

	.edit-button {
		height: fit-content;
		background-color: white;
		color: var(--color-text-light);
		cursor: pointer;
		border: none;

		&:hover, &:focus-visible {
			color: var(--color-primary);
		}

		&:focus-visible {
			outline: 0.1rem solid var(--color-primary);
			outline-offset: 0.2rem;
			border-radius: variables.$radius-sm;
		}
	}
}