@use "../../styles/mixins" as mixins;
@use "../../styles/typography" as typography;
@use "../../styles/variables" as variables;

.daily-textarea-block {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: variables.$radius-lg;
	border: .1rem solid var(--color-border);

	.date {
		@include typography.text-base;
		display: flex;
		border-bottom: .1rem solid var(--color-border);
		padding: var(--space-md);
		gap: var(--space-sm);
		align-items: center;
	}

	.day-batch {
		color: var(--color-primary);
		padding-inline: .8rem;
		padding-block: .4rem;
		border-radius: variables.$radius-md;
		background-color: var(--color-primary-light);
	}

	.month-and-day {
		color: var(--color-text-muted);
	}

	.textarea {
		@include typography.text-base;
		min-height: 20rem;
		resize: vertical;
		padding: var(--space-md);
		margin: var(--space-md);
		border: 1px solid #ccc;
		border-radius: 0.5rem;

		&:focus-visible {
			outline: .2rem solid var(--color-primary);
		}

		&::placeholder {
			color: var(--color-text-placeholder);
		}
	}

	@include mixins.tablet {
		.textarea {
			min-height: 40rem;
		}
	}
}
